# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# My
/FOOBAR-PLUGIN/.vs/FOOBAR-PLUGIN/v17
/FOOBAR-PLUGIN/.vs/FOOBAR-PLUGIN/FileContentIndex
FOOBAR-PLUGIN/FOOBAR-PLUGIN.vcxproj.user
FOOBAR-PLUGIN/FOOBAR-PLUGIN.vcxproj.filters
